vagrant_disk/.vagrant
vagrant_cli/.vagrant
vagrant_net/.vagrant
vagrant_perf/.vagrant
*/.vagrant
.vagrant
vagrant_ansible/insecure_private_key
vagrant_ansible/id_rsa.pub
*.vmdk
*.log
*.iso.lock
*.iso
*.ovf
*.pcap
packer_cache
.DS_Store
*.tfstate.*
*.tfstate
.terraform
.terraform.*